.new-transaction-button {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .transaction-modal {
    background: #F5F5F5;
    border: none;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .modal-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label-t {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .select-input,
  .text-input,
  .number-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .select-input:focus,
  .text-input:focus,
  .number-input:focus {
    border-color: #4CAF50;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .submit-button,
  .cancel-button {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .cancel-button {
    background: #DA1C1C;
  }

/*Tabla para mostrar los datos de una manera ordenada en tablas*/

.transacciones-container {
  padding: 20px;
  text-align: center;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

.table-tran thead th {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  table {
    display: block;
  }

  thead, tbody, tr, td, th {
    display: block;
  }

  th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }

  td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45%;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
  }
}

  